/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

a {
    text-decoration: none;
}

.container {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 130px;
    height: 25px;
    margin-top: 5px;
    margin-left: 12px;
    font-family: 'Ballet', cursive;
    font-weight: 650;
    font-size: 20px;
}

.logo a {
    color: palevioletred;
}

.logo a:hover{
    font-weight: 900;
    color: pink;
    text-shadow: 1px 1px 2px plum;
}

.menu {
    width: 503px;
    margin-right: 3px;
}

.menu_bar {
    width: 500px;
    margin: 0 auto;
    display: flex;
    font-family: 'Caveat', cursive;
}

.menu_bar li {
    width: 100px;
    text-align: center;
}

.menu_bar li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: purple;
}

.menu_bar li a:hover{
    font-style: italic;
    text-shadow: 2px 2px yellow;
    color: chocolate;
}

.banner_pic img{
    display: block;
    width: 100%;
    margin: auto;
}

.talking h1 {
    margin: 25px auto;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
    color: rgb(9, 136, 136);
    font-weight: 900;
    text-shadow: 0.1em 0.1em 0.2em silver;
    text-align: center;
    line-height: 60px;
    letter-spacing: 40px;
}

.talking h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 26px;
    margin-right: 26px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 23px;
    color: rgb(9, 136, 30);
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: underline;
}

.talking h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Microsoft JhengHei';
    font-size: 16px;
    font-weight: 450;
    line-height: 28px;
}

.talking h4 {
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 65px;
    color: dimgray;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
}

.talking p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 65px;
    margin-right: 65px;
    line-height: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 13px;
    color: rgb(7, 40, 53);
    font-weight: 280;
}

.With_Kay_conversation_time {
    height: 25px;
    line-height: 25px;
    width: 75%;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 65px;
}

.With_Kay_conversation_time .line {
    display: inline-block;
    width: 35%;
    border-top: 1px solid #ccc ;
}

.With_Kay_conversation_time .time {
    text-align: center;
    width: 50%;
    height: 1px;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 65px;
    color: dimgray;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;
}

.With_Kay_conversation p {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 65px;
    margin-right: 65px;
    padding-left: 50px;
    line-height: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 12px;
    color: slategray;
    font-weight: 280;
}

#during_time{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 65px;
    margin-right: 65px;
    padding-left: 50px;
    line-height: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 13px;
    color: slategray;
    font-weight: 900;
}

.border_top {
    width: 75%;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 65px;
    height: 1px;
    border-top: solid dimgray 0.5px;
}

.talking h5 {
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 30px;
    padding-left: 14px;
    color: rgb(7, 40, 53);
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.With_YY_conversation_time {
    height: 25px;
    line-height: 25px;
    width: 60%;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 65px;
}

.With_YY_conversation_time .line {
    display: inline-block;
    width: 25%;
    border-top: 1px solid #ccc ;
}

.With_YY_conversation_time .time {
    text-align: center;
    width: 50%;
    height: 1px;
    margin-top: 10px;
    margin-left: 65px;
    margin-right: 65px;
    color: dimgray;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    vertical-align: middle;
}


#coming_soon {
    width: 100%;
    margin: 25px auto;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 60px;
    font-style: italic;
    font-weight: 500;
    line-height: 90px;
    color: brown;
    font-family: monospace;
}

.auth p {
    margin-top: 50px;
    margin-bottom: 5px;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    letter-spacing: 1px;
}
